

@import url('https://fonts.googleapis.com/css?family=Space+Mono');
body {
  background-color:black;
  color:rgb(10, 6, 6);
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
}
 .row{
   display: flex;
 }